form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 75%;
}

form button{
    padding: 5px;
}

input[type="text"], input[type="password"]{
    height: 20px;

    border-radius: 5px;
    border: 1px solid black;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    font-size: smaller;
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder{
    color: transparent;
}

.error{
    color: rgb(197, 1, 1);
    font-size: small;
    text-align: center;
}